.ChessTVScreen__Wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  /*  width: 360px;
    height: 640px; */
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    180deg,
    #090909 0%,
    #1a1a1a 33.85%,
    #252525 66.67%,
    #333333 100%
  );
}

.ChessTVScreen__BackButton {
  position: absolute;
  left: 0;
  top: 0;
  width: 12%;
  max-width: 100px;
  aspect-ratio: 1/1;
  border: none;

  background-color: black;

  background: url("../resources/icons/back-arrow-svgrepo-com.svg");

  background-size: stretch;
  -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
  filter: invert(100%);
}
