.DelayTimer__PlayerOne {
  font-size: 8vh;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  color: orange;
  text-decoration: underline;
}

.DelayTimer__PlayerTwo {
  font-size: 8vh;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  color: orange;
  transform: rotate(180deg);
  text-decoration: underline;
}
