.GameScreen__gameWrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  user-select: none;

  width: 100%;
  height: 100%;

  background: linear-gradient(
    180deg,
    #090909 0%,
    #1a1a1a 33.85%,
    #252525 66.67%,
    #333333 100%
  );
}

.GameScreen__gameWrapper * {
  font-family: montserrat;
}
.GameScreen__playerOneWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 36%;
  order: 3;
}
.GameScreen__playerOne {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  order: 3;

  width: 80%;
  max-width: 1200px;
  height: 100%;

  background: #1a1a1a;
  box-shadow: inset 0px 0px 11px 17px rgba(0, 0, 0, 0.15);
  border-radius: 10px;

  cursor: pointer;
}

.GameScreen__playerTwoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 36%;
  order: 1;
}
.GameScreen__playerTwo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  order: 1;

  width: 80%;
  max-width: 1200px;
  height: 100%;

  background: #1a1a1a;
  box-shadow: inset 0px 0px 11px 17px rgba(0, 0, 0, 0.15);
  border-radius: 10px;

  cursor: pointer;
}
.GameScreen__gameControls {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  order: 2;
  gap: 15%;
  background: linear-gradient(0deg, #0f0f0f, #0f0f0f), #c4c4c4;
  box-shadow: 0px 0px 13px 10px rgba(12, 12, 12, 0.3);
  border-radius: 10px;

  width: 80%;
  max-width: 1200px;
  height: 12%;
  border: 1px solid transparent;
}

.GameScreen__pauseButton {
  height: 50%;
  aspect-ratio: 1 / 1;

  order: 2;

  cursor: pointer;
}

.GameScreen__restartButton {
  height: 40%;
  aspect-ratio: 1/1;

  order: 1;

  cursor: pointer;
}

.GameScreen__exitButton {
  height: 40%;
  aspect-ratio: 1 / 1;

  order: 3;

  cursor: pointer;
}
.GameScreen__invisible {
  opacity: 0;
}
.GameScreen__strongPurple {
  filter: invert(57%) sepia(28%) saturate(881%) hue-rotate(223deg)
    brightness(92%) contrast(92%);
  height: 60%;
}

.GameScreen__purpleBorder {
  border-color: #f8a8f0;
  box-sizing: border-box;
  box-shadow: 0px 0px 13px 10px rgba(162, 60, 210, 0.35);
}

.GameScreen__playerOneTime {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 175px;
  width: 20%;
  height: 80%;
  color: inherit;

  font-style: normal;
  font-weight: bold;
  font-size: 8vh;

  /* identical to box height */

  text-align: center;

  color: #ffffff;
}

.GameScreen__playerTwoTime {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 20%;
  height: 80%;
  color: inherit;

  font-style: normal;
  font-weight: bold;
  font-size: 8vh;

  /* identical to box height */

  text-align: center;

  color: #ffffff;

  transform: rotate(-180deg);
}

.GameScreen__delayTimer {
  font-size: 10vh;
  color: white;
}
