/* .availableTimes {
  position: absolute;
  width: 290px;
  height: 354px;
  left: 35px;
  top: 141px;

  background: purple;
  display: flex;
  flex-direction: column;
}

.newTimeButton {
  position: absolute;
  width: 173px;
  height: 42px;
  left: 93px;
  top: 543px;

  background: linear-gradient(
    183.14deg,
    #000000 -31.67%,
    #000000 -18.3%,
    #000000 -4.92%,
    #010101 8.46%,
    #030303 21.84%,
    #060606 35.22%,
    #0d0d0d 48.6%,
    #191919 61.98%,
    #2a2a2a 75.36%,
    #3b3b3b 88.74%,
    #474747 102.11%,
    #4e4e4e 115.49%,
    #515151 128.87%,
    #535353 142.25%,
    #545454 155.63%,
    #545454 169.01%,
    #545454 182.39%
  );
  border-radius: 50px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
  color: #ffffff;
  text-align: center;
}

.timeOption {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
  color: white important!;
  text-align: left;

  margin: 50px;
}
 */
