.TitleScreen__titleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  user-select: none;

  width: 100%;
  height: 100%;
  max-width: 100%;

  background: linear-gradient(
    180deg,
    #090909 0%,
    #1a1a1a 33.85%,
    #252525 66.67%,
    #333333 100%
  );

  -webkit-tap-highlight-color: transparent;
}

.TitleScreen__titleWrapper * {
  font-family: montserrat;
}

.TitleScreen__mainGridWrapper {
  display: grid;

  width: 100%;
  height: 100%;
  max-width: 600px;
  grid-gap: 0px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(24, 1fr);
  color: white;
  font-size: calc(12px + 1.8vh);
}

/* .TitleScreen__innerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  height: 100%;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
}
 */
.TitleScreen__TimeWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  grid-row-start: 4;
  grid-row-end: 14;
  grid-column-start: 3;
  grid-column-end: 11;
  min-width: 0%;
  min-height: 0%;

  font-size: calc(1vw + 12px);
  font-weight: bold;
}
.TitleScreen__TimeElement {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.TitleScreen__TimeValue {
  font-size: 12vh;
}

.TitleScreen__IncrementValue {
  position: relative;
  font-size: 6vh;
  top: 20%;
}

.TitleScreen__VS {
  position: relative;
  padding: 0;
  margin: 0;
  font-size: 4vh;

  font-weight: bold;
}

.TitleScreen__startButton {
  display: flex;
  justify-content: center;
  align-items: center;

  grid-row-start: 17;
  grid-row-end: 19;
  grid-column-start: 3;
  grid-column-end: 11;
  min-width: 0%;
  min-height: 0%;

  background: linear-gradient(0deg, #824ec6, #824ec6), #562786;
  box-shadow: 1px 4px 11px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  border: none;

  font-size: calc(0.8vw + 22px);
  color: white;
  font-weight: bold;

  cursor: pointer;
}

.TitleScreen__editButton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -20%;

  grid-row-start: 20;
  grid-row-end: 22;
  grid-column-start: 3;
  grid-column-end: 11;
  min-width: 0%;
  min-height: 0%;
  height: 60%;

  background-color: transparent;
  box-shadow: 1px 4px 11px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  border: 1px solid #713fa5;
  box-sizing: border-box;

  font-size: 2.5vh;
  color: white;
  font-weight: normal;

  cursor: pointer;
}

.TitleScreen__chessTVButton {
  /*  background-image: url("../resources/icons/watch-chess-tv.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; */

  color: rgb(199, 199, 199);
  background-color: transparent;

  display: flex;
  justify-self: center;
  border: none;

  grid-row-start: 22;
  grid-row-end: 23;
  grid-column-start: 5;
  grid-column-end: 9;
  min-width: 0%;
  min-height: 0%;

  max-width: 100%;
  max-height: 100%;

  font-size: calc(12px);
  font-weight: normal;

  cursor: pointer;
}

.TitleScreen__chessTVButton__text {
  padding: 0;
  margin: 0;

  grid-row-start: 22;
  grid-row-end: 23;
  grid-column-start: 5;
  grid-column-end: 9;

  text-align: center;
  text-overflow: none;
  position: relative;
  top: 5vh;

  font-size: calc(12px);
  font-weight: normal;
  font-family: montserrat;
}

.Logo {
  position: absolute;
  top: 1%;
  padding: 0;

  width: 40%;
  height: 10%;
  background-image: url("../resources/images/clockAppLogo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
