.TitleScreen__titleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: absolute;

  width: 100vw;
  height: 100vh;
  max-width: 100%;

  background: linear-gradient(
    180deg,
    #090909 0%,
    #1a1a1a 33.85%,
    #252525 66.67%,
    #333333 100%
  );
}

/* .TitleScreen__innerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  height: 100%;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
}
 */
.TitleScreen__TimeWrapper {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  order: 1;
  font-size: 12vh;
  height: 20%;
  width: 100%;
  color: white;
  margin-top: 20vh;
}

.TitleScreen__buttonWrapper {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
  margin-top: auto;
  order: 2;
  width: 100%;
  height: 50%;
  gap: 5%;
}

.TitleScreen__TimeValue {
  font-size: 12vh;
  align-self: flex-end;
}

.TitleScreen__IncrementValue {
  font-size: 6vh;
  align-self: flex-end;
}

.TitleScreen__startButton {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  justify-content: center;
  align-items: center;

  font-size: 3.5vh;
  border: none;

  order: 2;

  color: #ffffff;
  text-align: center;
  position: absolute;

  height: 7.5%;
  top: 62%;
  width: 69%;
  max-width: 500px;
  padding: 0;

  background: linear-gradient(0deg, #824ec6, #824ec6), #562786;
  box-shadow: 1px 4px 11px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.TitleScreen__editButton {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;

  font-size: 2.3vh;
  border: none;

  padding: 0;
  text-align: center;
  color: #ffffff;
  order: 3;

  width: 69%;
  max-width: 500px;
  top: 5%;

  height: 10%;

  border: 1px solid #713fa5;
  box-sizing: border-box;
  border-radius: 10px;
  background: transparent;
}

.TitleScreen__chessTVButton {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  background-image: url("../resources/icons/watch-chess-tv.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  top: 10%;
  order: 4;
  border: none;
  padding: 0;

  color: rgb(199, 199, 199);
  background-color: transparent;

  max-width: 500px;
  padding: 0;
  font-size: 1.2vh;

  height: 8%;
  aspect-ratio: 1/1;
}

.TitleScreen__chessTVButton__text {
  width: 300%;
  text-align: center;
  position: relative;
  top: 70%;
}

.Logo {
  position: absolute;
  top: 3%;
  padding: 0;

  width: 40%;
  height: 10%;
  background-image: url("../resources/images/clockAppLogo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
